.container.proto-list
  .row
    - @protos.each do |proto|
      .col-sm-4.col-md-3.proto-content
        .thumbnail
          = link_to proto_path(proto.id) do
            = image_tag("#{proto.proto_images.main.first.image}")
            .caption
              %h3 #{proto.title}
              .proto-meta
                .proto-user
                  = link_to "by#{proto.user.name}", user_path(proto.user.id)
                .proto-posted
                  = proto.updated_at.strftime('%b %d')
              %ul.proto-tag-list.list-inline
                - proto.tags.each do |tag|
                  %li
                    = link_to "#{tag.name}", tag_path(tag.name), class: "btn btn-default"
.text-center
  %ul.pagination
    %li.disabled
      = paginate(@protos)
