= form_for(@proto, html: {class: "container proto-new"}) do |f|
  .col-md-8.col-md-offset-2
    %header.row.user-nav.row
      .col-md-12
        = f.text_field :title, placeholder: "Title", class: "proto-new-title"
    .row
      = f.fields_for :proto_images do |q|
        .col-md-12
          .cover-image-upload
            = q.file_field :image
            = image_tag("", id: "uploaded-image-0")
            = q.hidden_field :status, value: "main"
      .col-md-12
        %ul.proto-sub-list.list-group
          %li.list-group-item.col-md-4
            = f.fields_for :proto_images do |q|
              .image-upload
                = q.file_field :image
                = image_tag("", id: "uploaded-image-1")
                = q.hidden_field :status, value: "sub"
          %li.list-group-item.col-md-4
            = f.fields_for :proto_images do |q|
              .image-upload
                = q.file_field :image
                = image_tag("", id: "uploaded-image-2")
                = q.hidden_field :status, value: "sub"
          %li.list-group-item.col-md-4
            .image-upload-plus
              %span +
    .row.proto-description
      = f.text_field :catch_copy, placeholder: "Catch Copy", class: "col-md-12"
      = f.text_field :concept, cols: "30", rows: "4", placeholder: "Concept", class: "col-md-12"
      .col-md-12
        %h4 Tag List
        .row
          = text_field_tag 'proto[tag_list][]', "", placeholder: "Web Design", class: "col-md-3", value: "#{@proto.tags[0]}"
          = text_field_tag 'proto[tag_list][]', "", placeholder: "UI", class: "col-md-3", value: "#{@proto.tags[1]}"
          = text_field_tag 'proto[tag_list][]', "", placeholder: "Application", class: "col-md-3", value: "#{@proto.tags[2]}"
    .row.text-center.proto-btn
      = f.submit placeholder: "Publish", class: "btn btn-lg btn-primary btn-block"

